<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły biletu</title>
</head>
<body>
<h2>Szczegóły biletu nr {{ bilet[0] }}</h2>

<p><strong>Czas przejazdu:</strong> {{ bilet[3] }}</p>
<p><strong>Godzina odjazdu:</strong> {{ bilet[4] }}</p>
<p><strong>Dni tygodnia:</strong> {{ bilet[5] }}</p>
<p><strong>Stacja początkowa:</strong> {{ bilet[6] }}</p>
<p><strong>Stacja docelowa:</strong> {{ bilet[7] }}</p>
<p><strong>Pociągu:</strong> {{ bilet[8] }} #{{ bilet[9]}}</p>
<p><strong>Przewoźnik:</strong> {{ bilet[10] }}</p>
<p><strong>Ulga:</strong> {{ bilet[2] }}</p>
<p><strong>Cena:</strong> {{ bilet[1] }} zł</p>

<br><a href="{{ url_for('user.bilety') }}">Powrót do listy biletów</a>
</body>
</html>
