<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Moje bilety</title>
</head>
<body>
<h2>Bilety zakupione przez {{ session['user_name'] }}</h2>
<a href="{{ url_for('welcome') }}">Powrót</a><br><br>

{% if tickets %}
<table border="1">
    <tr>
        <th>ID Biletu</th>
        <th>Miasto Początkowe</th>
        <th>Miasto Docelowe</th>
        <th>Data Podróży</th>
        <th>Czas Przejazdu</th>
        <th>Opóźnienie</th>
        <th>Cena</th>
        <th>Ulga</th>
        <th>Szczegóły</th>
    </tr>
    {% for t in tickets %}
    <tr>
        <td>{{ t[2] }}</td>
        <td>{{ t[0] }}</td>
        <td>{{ t[1] }}</td>
        <td>{{ t[3] }}</td>
        <td>{{ t[4] }}</td>
        <td>{{ t[5] }}</td>
        <td>{{ t[6] }} zł</td>
        <td>{{ t[7] }}</td>
        <td>
            <a href="{{ url_for('bilety_szczegol', bilet_id=t[2]) }}">Szczegóły</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Nie znaleziono biletów.</p>
{% endif %}
</body>
</html>
