<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kup bilet</title>
</head>
<body>
<h2>Zakup biletu</h2>

<p><strong>Trasa:</strong> {{ connection[1] }} → {{ connection[2] }}</p>
<p><strong>Godzina odjazdu:</strong> {{ connection[3] }}</p>
<p><strong>Czas przejazdu:</strong> {{ connection[4] }}</p>
<p><strong>Data:</strong> {{ connection[5] }}</p>
<p><strong>Model pociagu:</strong> {{ connection[6] }}</p>
<p><strong>Przewoznik:</strong> {{ connection[7] }} </p>

<form method="POST">
    <label>Wybierz ulgę:</label><br>
    <select name="ulga" required>
        {% for u in ulgi %}
        <option value="{{ u }}">{{ u }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Potwierdź zakup</button>
</form>

<br><a href="{{ url_for('user.search') }}">Powrót</a>
</body>
</html>
