
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "welcome">
    <h1>Witaj, {{ name }}!</h1>
        <div class="links">
            <a href="{{ url_for('user.bilety') }}">Zobacz moje bilety</a> |
            <a href="{{ url_for('user.search') }}">Wyszukaj połączenie</a> |
            <a href="{{ url_for('admin.admin') }}">Panel admina</a> |
            <a href="{{ url_for('user.logout') }}">Wyloguj</a>
        </div>
    </div>
</body>
</html>
