<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "admin">
        <h1>Panel administratora</h1>
        <div class = "links">
            <a href="{{ url_for('admin.admin_pasazerowie') }}">Pasazerowie</a><br><br>
            <a href="{{ url_for('admin.admin_polaczenia') }}">Połączenia</a><br><br>
            <a href="{{ url_for('admin.admin_linie') }}">Linie kolejowe</a><br><br>
            <a href="{{ url_for('admin.admin_stacje') }}">Stacje kolejowe</a><br><br>
            <a href="{{ url_for('admin.admin_pociagi') }}">Pociagi</a><br><br>
        </div>
    </div>
</body>
</html>
