<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj pociąg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "admin">
        <h1>Dodaj pociąg</h1>
        <div class = "links">
            <a href="{{ url_for('admin.admin_pociagi') }}">Powrót do listy pociagi</a><br><br>
        </div>
        <form method="POST">    
            <label>Model pociągu</label>
            <select name="id_modelu" id="id_modelu" required>
                {% for m in models %}
                    <option value="{{ m[0] }}">
                        {{ m[1] }}
                    </option>
                {% endfor %}
            </select>

            <label>Przewoźnik</label>           
            <select name="id_przewoznika" id="id_przewoznika" required>
                {% for przewoznik in przewoznicy %}
                    <option value="{{ przewoznik[0] }}" >
                        {{ przewoznik[1] }}
                    </option>
                {% endfor %}
            </select>


            <select id="stan" name="stan" required>
            <option value="operacyjny" > operacyjny</option>
            <option value="konserwacja"> konserwacja</option>
            <option value="uszkodzony" > uszkodzony</option>
            <option value="nieużytkowy"> nieużytkowy</option>
            </select>

            <button type="submit">Zapisz</button>
        </form>
    </div>
</body>
</html>