<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj połączenie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "admin">
        <h1>Dodaj połączenie</h1>

        <div class="links">
            <a href="{{ url_for('admin.admin_polaczenia') }}">Powrót do listy połączeń</a><br><br>
        </div>

        <form method="POST">    

            <label>Stacja początkowa:</label>
            <select name="id_stacji_początkowej" required>
                {% for stacja in stacje %}
                    <option value="{{ stacja[0] }}">
                        {{ stacja[1] }}
                    </option>
                {% endfor %}
            </select>

            <label>Stacja końcowa:</label>
            <select name="id_stacji_końcowej" required>
                {% for stacja in stacje %}
                    <option value="{{ stacja[0] }}">
                        {{ stacja[1] }}
                    </option>
                {% endfor %}
            </select>

            <label>Czas przejazdu:</label>
            <input type="time" name="czas_przejazdu" step="1" required>

            <label>Godzina odjazdu:</label>
            <input type="time" name="godzina_odjazdu" step="1" required>

            <label>Dni tygodnia:</label>
            <input type="checkbox" name="dni_tygodnia" value="Monday"> Poniedziałek
            <input type="checkbox" name="dni_tygodnia" value="Tuesday"> Wtorek
            <input type="checkbox" name="dni_tygodnia" value="Wednesday"> Środa
            <input type="checkbox" name="dni_tygodnia" value="Thursday"> Czwartek
            <input type="checkbox" name="dni_tygodnia" value="Friday"> Piątek
            <input type="checkbox" name="dni_tygodnia" value="Saturday"> Sobota
            <input type="checkbox" name="dni_tygodnia" value="Sunday"> Niedziela

            <label>Cena:</label>
            <input type="number" name="cena" step="1" required>

            <label>Przewoznik:</label>
            <select name="id_przewoznika" required>
                {% for p in przewoznicy %}
                    <option value="{{ p[0] }}">
                        {{ p[1] }}
                    </option>
                {% endfor %}
            </select>


            <button type="submit">Dodaj</button>
        </form>
    </div>
</body>
</html>