<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj połączenie #{{ connection[0] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "admin">
        <h1>Edytuj połączenie #{{ connection[0] }}</h1>

        <div class="links">
            <a href="{{ url_for('admin.admin_polaczenia') }}">Powrót do listy połączeń</a><br><br>
        </div>

        <form method="POST">    
            
            <label>Stacja początkowa:</label>
            <select name="id_stacji_początkowej" required>
                {% for stacja in stacje %}
                    <option value="{{ stacja[0] }}" {% if stacja[0] == connection[2] %}selected{% endif %}>
                        {{ stacja[1] }}
                    </option>
                {% endfor %}
            </select>

            <label>Stacja końcowa:</label>
            <select name="id_stacji_końcowej" required>
                {% for stacja in stacje %}
                    <option value="{{ stacja[0] }}" {% if stacja[0] == connection[3] %}selected{% endif %}>
                        {{ stacja[1] }}
                    </option>
                {% endfor %}
            </select>


            <label>Czas przejazdu:</label>
            <input type="time" name="czas_przejazdu" value="{{ connection[5] }}" step="1" required>

            <label>Godzina odjazdu:</label>
            <input type="time" name="godzina_odjazdu" value="{{ connection[6] }}" step="1" required>

            <label>Dni tygodnia:</label>
            <div class="dni">
                <label><input type="checkbox" name="dni_tygodnia" value="Monday"> Poniedziałek</label>
                <label><input type="checkbox" name="dni_tygodnia" value="Tuesday"> Wtorek</label>
                <label><input type="checkbox" name="dni_tygodnia" value="Wednesday"> Środa</label>
                <label><input type="checkbox" name="dni_tygodnia" value="Thursday"> Czwartek</label>
                <label><input type="checkbox" name="dni_tygodnia" value="Friday"> Piątek</label>
                <label><input type="checkbox" name="dni_tygodnia" value="Saturday"> Sobota</label>
                <label><input type="checkbox" name="dni_tygodnia" value="Sunday"> Niedziela</label>
            </div>


            <label>Cena:</label>
            <input type="number" name="cena" step="1" required>

            <label>Przewoznik:</label>
            <select name="id_przewoznika" required>
                {% for p in przewoznicy %}
                    <option value="{{ p[0] }}">
                        {{ p[1] }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit">Zapisz</button>
        </form>
    </div>
</body>
</html>