<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj stacje kolejowe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "admin">
        <h1>Edytuj stacje kolejowe</h1>
        <div class = "links">
            <a href="{{ url_for('admin.admin_stacje') }}">Powrót do listy stacji kolejowych</a><br><br>
        </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            <div class="msg" style="color:red;">{{ messages[0] }}</div>
    {% endif %}
    {% endwith %}
        <form method="POST">    
            <label>Nazwa stacji</label>
            <input type="text" id="nazwa_stacji" name="nazwa_stacji" value="{{ station[1] }}"  required>
    
            <label>Miasto</label>
            <input type="text" id="miasto" name="miasto" value="{{ station[2] }}"  required>


            <button type="submit">Zapisz</button>
        </form>
    </div>
</body>
</html>