<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj uzytkownika</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "admin">
        <h1>Edytuj użytkownika</h1>
        <div class = "links">
            <a href="{{ url_for('admin.admin_pasazerowie') }}">Powrót do listy uzytkowników</a><br><br>
        </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            <div class="msg" style="color:red;">{{ messages[0] }}</div>
    {% endif %}
    {% endwith %}
        <h1>Edytuj uzytkownika #{{ user[0] }}</h1>
        <form method="POST">    
            <label>Imie</label>
            <input type="text" id="imie" name="imie" value="{{ user[1] }}"  required>

            <label>Nazwisko:</label>
            <input type="text" id="nazwisko" name="nazwisko" value="{{ user[2] }}"  required>

            <label>E-mail</label>
            <input type="email" id="email" name="email" value="{{ user[3] }}" required>

            <label>Numer telefonu</label>
            <input type="number" id="telefon" name="telefon" value="{{ user[4] }}"  required>

            <button type="submit">Zapisz</button>
        </form>
    </div>
</body>
</html>