<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora - Linie kolejowe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "admin">
<h1>Wszyscy pasażerowie</h1>
    <div class = "links">
         <a href="{{ url_for('admin.admin') }}">Powrót</a><br><br>
    </div>
    {% if users %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Numer telefonu</th>
            <th>Akcje</th>
        </tr>
        {% for p in users %}
        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ p[3] }}</td>
            <td>{{ p[4] }}</td>
            <td>
                <a href="{{ url_for('admin.pokaz_bilety_pasazera', user_id=p[0]) }}">Zobacz bilety</a>
                
                <a href="{{ url_for('admin.edytuj_pasazera', user_id=p[0]) }}">Edytuj użytkownika</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Brak zarejestrowanych pasażerów.</p>
    {% endif %}
    </div>
</body>
</html>