<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora - Połączenia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="admin">
        <h1>Wszystkie połączenia</h1>
        <div class="links">
            <a href="{{ url_for('admin.admin') }}">Powrót</a><br><br>
            <a href="{{ url_for('admin.dodaj_polaczenie') }}"> Dodaj nowe połączenie</a>
        </div>
        {% if connections %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nazwa linii</th>
                <th>Stacja początkowa</th>
                <th>Stacja końcowa</th>
                <th>Id pociągu</th>
                <th>Model pociąg</th>
                <th>Przewoźnik</th>
                <th>Czas przejazdu</th>
                <th>Data</th>
                <th>Opóźnienie</th>
                <th>Akcje</th>
            </tr>
            {% for p in connections %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>{{ p[4] }}</td>
                <td>{{ p[5] }}</td>
                <td>{{ p[6] }}</td>
                <td>{{ p[7] }}</td>
                <td>{{ p[8] }}</td>
                <td>{{ p[9] }}</td>
                <td>
                    <a href="{{ url_for('admin.edytuj_polaczenie', connection_id=p[0]) }}">Edytuj połaczenie</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Brak zarejestrowanych połączeń.</p>
        {% endif %}
    </div>
</body>
</html>