<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel przewoznika - Modele pociągów</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "przewoznik">
        <h1>Wszystkie modele pociągów</h1>
    <div class = "links">
         <a href="{{ url_for('przewoznik.przewoznik_pociagi') }}">Powrót</a><br><br>
    </div>
    <h3>Dodaj model</h3>
    <form method="POST" action="{{ url_for('przewoznik.dodaj_model') }}" style="display:inline;">
        Nazwa modelu: <input type="text" name="model_pociagu" required>
        <button type="submit">Dodaj</button>
    </form>
    {% if models %}
    <table border="1">
            <tr>
                <th>ID</th>
                <th>Nazwa modelu</th>
                <th>Akcje</th>
            </tr>
            {% for m in models %}
            <tr>
                <td>{{ m[0] }}</td>
                <td>{{ m[1] }}</td>
            <td>
                <form method="POST" action="{{ url_for('przewoznik.edytuj_model', model_id=m[0]) }}" style="display:inline;">
                     Nazwa modelu: <input type="text" name="model_pociagu" required>
                    <button type="submit">Zapisz</button>
                </form>
                <form method="POST" action="{{ url_for('przewoznik.usun_model', model_id=m[0]) }}" style="display:inline;">
                    <button type="submit" onclick="return confirm('Na pewno usunąć model?');">Usuń</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Brak zarejestrowanych modelów pociągów.</p>
    {% endif %}
    </div>
</body>
</html>