<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel przewoznik - Pociągi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "przewoznik">
        <h1>Wszystkie pociagi</h1>
    <div class = "links">
         <a href="{{ url_for('przewoznik.przewoznik') }}">Powrót</a><br><br>
         <a href="{{ url_for('przewoznik.dodaj_pociag') }}">Dodaj pociąg</a><br><br>
         <a href="{{ url_for('przewoznik.modele_pociagow') }}">Modele pociągów</a><br><br>
    </div>
    {% if trains %}
    <table border="1">
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Stan</th>
                <th>Akcje</th>
            </tr>
            {% for p in trains %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
                <td>{{ p[3] }}</td>
            <td>
                <a href="{{ url_for('przewoznik.pokaz_wagony', train_id=p[0]) }}">Zobacz wagony</a>
                <a href="{{ url_for('przewoznik.edytuj_pociag', train_id=p[0]) }}">Edytuj pociag</a>
                <form method="POST" action="{{ url_for('przewoznik.usun_pociag', train_id=p[0]) }}" style="display:inline;">
                    <button type="submit" onclick="return confirm('Na pewno usunąć pociąg?');">Usuń</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Brak zarejestrowanych pociągów.</p>
    {% endif %}
    </div>
</body>
</html>