<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel przewoźnika</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "przewoznik">
        <h1>Panel przewoźnika {{ name[0] }}</h1>
        <div class = "links">
            <a href="{{ url_for('przewoznik.przewoznik_polaczenia') }}">Połączenia</a><br><br>
            <a href="{{ url_for('przewoznik.przewoznik_pociagi') }}">Pociagi</a><br><br>

            <a href="{{ url_for('user.logout') }}">Wyloguj</a>
        </div>
    </div>
</body>
</html>
