<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login">
        <h1>Zaloguj się</h1>
        <div class="links">
            <a href="{{ url_for('user.login') }}" class="active">Zaloguj się</a> |
            <a href="{{ url_for('user.register') }}" >Rejestracja</a> |
            <a href="{{ url_for('admin.login') }}" >Logowanie dla adminstracji</a> 
        </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="msg" style="color:red;">{{ messages[0] }}</div>
            {% endif %}
            {% endwith %}
    <form method="POST">
        <input type="email" name="email" placeholder="E-mail" required><br>
        <input type="password" name="password" placeholder="Hasło" required>
        <input type="submit" value="Zaloguj">
    </form>

</div>

</body>
</html>
